@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-pink: hsl(275, 100%, 97%);
  --color-purple: hsl(292, 16%, 49%);
  --color-dark-purple: hsl(292, 42%, 14%);

  --font-normal: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  --font-main: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;

  font-family: var(--font-main);

  background-color: var(--color-pink);
}

.bgIllustration {
  background: url("assets/images/background-pattern-desktop.svg") no-repeat;
  background-size: cover;
  min-height: 30vh;
  height: 45vh;
  width: 100vw;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hide {
  display: none;
}

.card {
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 10px hsla(292, 42%, 14%, 0.08);

  margin: 24px;
  padding: 0 40px 16px 40px;
  max-width: 600px;

  background-color: var(--color-white);
}

.header {
  display: flex;
  align-items: center;
  gap: 30px;

  padding: 50px 0;
}

.header img {
  width: 36px;
}

.header__title {
  font-size: 36px;
  font-weight: var(--font-bold);

  color: var(--color-dark-purple);
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordion__item {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding-bottom: 24px;

  font-weight: var(--font-semi-bold);

  cursor: pointer;
  user-select: none;
}

.accordion__question {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.accrodion__answer {
  font-size: 16px;
  font-weight: 500;

  color: var(--color-purple);
}

.accordion__item:not(:last-child) {
  border-bottom: 1px solid var(--color-pink);
}

.accordion__icon {
  width: 24px;
}
